:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

.lil-gui {
  position: absolute;
  top: 0;
  right: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;